<!DOCTYPE html>
<html ng-app="ng">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="shortcut icon" href="">

  <title></title>

  <!-- inject:vendor:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->

</head>
<body>

<header></header>

<section ng-view></section>

<!-- inject:vendor:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

</body>
</html>